pkgbase = ompl-git
	pkgdesc = The Open Motion Planning Library (OMPL) consists of many state-of-the-art sampling-based motion planning algorithms
	pkgver = 1.0.0.r402.gc1bceb6
	pkgrel = 1
	url = http://ompl.kavrakilab.org
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = python
	depends = python-matplotlib
	optdepends = py++: Python binding
	optdepends = ode: Plan using the Open Dynamics Engine
	optdepends = eigen: For an informed sampling technique
	provides = ompl=1.0.0.r402.gc1bceb6
	conflicts = ompl
	source = ompl::git+https://github.com/ompl/ompl.git
	md5sums = SKIP
	md5sums = SKIP

pkgname = ompl-git

